@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {  
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    background-color: #1E521D;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffff;
    font-size: 1.4rem;
}

a:hover {
    color: rgb(181, 179, 187);
}


/*RESOLUTION 1920*/

/*HEADER*/

header {
    width: 100%;
    height: auto;
    position:fixed;
    top: 0;
    background-color: #09212B;
}

.navbar {
    display: flex;   
    height: 40px;
    align-items: center; 
}

.navbar-logo {
    display: flex;
    align-items: center;
    margin-left: 8px;
    margin-top: 7px;
}

.navbar-logo img {
    height: 28px;
    
}

.navbar-text {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-top: 10px;
    
    
}

.navbar-text h1 {
    font-size: 25px;
    font-weight: 300;  
}


/*CONTENT*/

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.section-01 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #804E33;
}

.section-01-card {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 20px 10px 20px 10px;
    padding: 10px;
    border: 3px solid #804E33;
    border-radius: 25px;
    background-color: #09212B;
    
}

.section-01-card h1{
    font-size: 20px;
    font-weight: 300;
    margin-top: 5px;
}

.section-01-card h2{
    font-size: 15px;
    font-weight: 300;
    margin-top: 5px;
}

.section-01-card-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    font-weight: 500;
    width: auto;
    height: auto;
    margin: 10px 2px 10px 2px;
    padding: 10px;
    gap: 10px;
    border: 3px solid #804E33;
    border-radius: 25px;
    background-color: #5D5F5C;
}

.section-01-card-classification {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-01-card-classification p {
    font-size: 20px;
    font-weight: 100;
    
}



.section-02 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #333b80;
}

.section-02-card {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 20px 10px 20px 10px;
    padding: 10px;
    border: 3px solid #804E33;
    border-radius: 25px;
    background-color: #09212B;
    
}

.section-02-card h1{
    font-size: 20px;
    font-weight: 300;
    margin-top: 5px;
}

.section-02-card h2{
    font-size: 15px;
    font-weight: 300;
    margin-top: 5px;
}

.section-02-card-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    font-weight: 500;
    width: 100%;
    height: auto;
    margin: 10px 2px 10px 2px;
    padding: 10px;
    border: 3px solid #804E33;
    border-radius: 25px;
    background-color: #5D5F5C;
}

.section-02-card-menu img {
    height: 280px;
    margin: 10px 0 10px 0;
    border-radius: 25px;
    background-color: #5D5F5C;
}


.section-03 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #8c94df;
}

.section-03-card {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 20px 10px 20px 10px;
    padding: 10px;
    border: 3px solid #804E33;
    border-radius: 25px;
    background-color: #09212B;
    
}

.section-03-card h1{
    font-size: 20px;
    font-weight: 300;
    margin-top: 5px;
}

.section-03-card-orientation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    font-weight: 500;
    width: 100%;
    height: auto;
    margin: 10px 2px 10px 2px;
    padding: 10px;
    border: 3px solid #804E33;
    border-radius: 25px;
    background-color: #5D5F5C;
}

.section-03-card-orientation p {

    font-size: 20px;
    font-weight: 100;

}


.section-04 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #4f5abd;
}

.section-04-card {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 20px 10px 20px 10px;
    padding: 10px;
    border: 3px solid #804E33;
    border-radius: 25px;
    background-color: #09212B;
    
}

.section-04-card h1{
    font-size: 20px;
    font-weight: 300;
    margin-top: 5px;
}

/* .section-04-card-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    font-weight: 500;
    width: 100%;
    height: auto;
    margin: 10px 2px 10px 2px;
    padding: 10px;
    border: 3px solid #804E33;
    border-radius: 25px;
    background-color: #5D5F5C;
} */

.section-04-card-contact p {

    font-size: 15px;
    font-weight: 100;

}





























/*Rodapé*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: black;
    
}

nav {
    display: flex;;
    align-items: center;
    justify-content: center;
    width:100%;

}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
    
    
}

nav ul li {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 0;
    margin: 0;
    border: none;
    
    
}

nav ul li a {
    display: flex;
    align-items: center;
    justify-content:center;
    
    
}

nav ul li a img {
    height: 5vh;
    margin: 5px;
}















  

















