@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {  
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    background-color: #062D3D;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffff;
    font-size: 1.4rem;
}

a:hover {
    color: rgb(181, 179, 187);
}


/*RESOLUTION 1920*/

/*HEADER*/

header {
    width: 100%;
    height: auto;
    position:fixed;
    top: 0;
    background-color: #09212B;
}

.navbar {
    display: flex;   
    height: 38px;
    align-items: center; 
}

.navbar-logo {
    display: flex;
    align-items: center;
    margin-left: 8px;
    margin-top: 7px;
}

.navbar-logo img {
    height: 25px;
    
}

.navbar-text {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-top: 10px;
    
    
}

.navbar-text h1 {
    font-size: 19px;
    font-weight: 300;  
}


/*CONTENT*/

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.section-00 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #4f5abd;
}

.section-00-text {
    width: 100%;
    padding-left: 20px;
    margin: 15px 15px;
    background-color: #0e21ca;
}

.section-00-text h1{
    font-size: 20px;
    font-weight: 300;
    
}


.section-00-card {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    height: auto;
    padding: 10px;
    border: 3px solid #804E33;
    border-radius: 25px;
    background-color: #09212B;
    
}

.section-00-card-text p {

    font-size: 15px;
    font-weight: 100;

}










/*Rodapé*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: black;
    
}

nav {
    display: flex;;
    align-items: center;
    justify-content: center;
    width:100%;

}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
    
    
}

nav ul li {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 0;
    margin: 0;
    border: none;
    
    
}

nav ul li a {
    display: flex;
    align-items: center;
    justify-content:center;
    
    
}

nav ul li a img {
    height: 5vh;
    margin: 5px;
}















  

















