/*BREAKPOINT BOX MENU*/

/*RESOLUTION - TABLET - MAX 768px*/

@media screen and (min-width: 426px) {

    main {
        margin-top: 75px;
    }

    .section-banner img {
        height: 130px; 
     }

     .section-logo-text h1{
        font-size: 60px;
        font-weight: 300;
    }

    .section-btn button{
        background-color: #205004;
        font-size: 22px;
        color: #ffff;
        width: 120px;
        height: auto;
        padding: 6px;
        border-radius: 35px;
        cursor: pointer;
    }

}


/*RESOLUTION - LAPTOP - MAX 1440px*/

@media screen and (min-width: 769px) {

    main {
        margin-top: 100px;
    }

    .section-banner img {
        height: 130px; 
     }

     .section-logo-text h1{
        font-size: 80px;
        font-weight: 300;
    }

    .section-btn button{
        background-color: #205004;
        font-size: 30px;
        color: #ffff;
        width: 180px;
        height: auto;
        padding: 10px;
        border-radius: 35px;
        cursor: pointer;
    }

}


/*RESOLUTION - LAPTOP - MAX 2560px*/

@media screen and (min-width: 2560px) {

    .section-banner img {
        height: 300px; 
     }

     .section-logo-text h1{
        font-size: 40px;
        font-weight: 300;
    }

    .section-btn button{
        background-color: #205004;
        font-size: 18px;
        color: #ffff;
        width: 100px;
        height: auto;
        padding: 5px;
        border-radius: 35px;
        cursor: pointer;
    }

}