/*BREAKPOINT BOX MENU*/

/*RESOLUTION - SMARTPHONE - MIN 360px - MAX 449px*/

@media screen and (min-width: 360px) {

    main {
        margin-top: 90px;
                
    }

    .section-banner img {
        height: 150px; 
    }
             

     .section-logo-text {
        margin-top: 50px;
        
    }

    .section-logo-text h1{
        font-size: 40px;
        
    }

    .section-btn{
        margin-top: 80px;
        
    }

    .section-btn button{
        font-size: 22px;
        width: 120px;
        padding: 6px;
        
    }

}


/*RESOLUTION - SMARTPHONE - MIN 450px- MAX 749px*/

@media screen and (min-width: 450px) {

    main {
        margin-top: 120px;
    }

    .section-banner img {
        height: 130px; 
    }
        
     .section-logo-text {
        margin-top: 100px;
    }

    .section-logo-text h1{
        font-size: 60px;
    }

    .section-btn{
        margin-top: 100px;
    }

    .section-btn button{
        font-size: 22px;
        width: 120px;
        padding: 6px;  
    }

}


/*RESOLUTION - TABLET - MIN 750px- MAX 1100px*/

@media screen and (min-width: 750px) {

    main {
        margin-top: 110px;
    }

    .section-banner img {
        height: 250px; 
    }
        
     .section-logo-text {
        margin-top: 70px;
        
    }

    .section-logo-text h1{
        font-size: 90px;

    }

    .section-btn{
        margin-top: 100px;
        
    }

    .section-btn button{
        font-size: 33px;
        width: 180px;
        padding: 10px; 
    }

}


/*RESOLUTION - LAPTOP - MIN 1100px- MAX 1439px*/

@media screen and (min-width: 1100px) {


main {
    margin-top: 100px;
}

.section-banner img {
    height: 230px; 
}

.section-logo-text {
    margin-top: 20px;
    
}

.section-logo-text h1{
    font-size: 60px;

}

.section-btn{
    margin-top: 70px;
    
}

.section-btn button{
    font-size: 33px;
    width: 180px;
    padding: 10px; 
}

}

/*RESOLUTION - DESKTOP - MIN 1100px*/

@media screen and (min-width: 1441px) {

    main {
        margin-top: 200px;
    }

    .section-banner img {
        height: 320px; 
    }
        
    .section-logo-text {
        margin-top: 150px;
        
    }

    .section-logo-text h1{
        font-size: 160px;

    }

    .section-btn{
        margin-top: 150px;
        
    }

    .section-btn button{
        font-size: 60px;
        width: 300px;
        padding: 15px;
        border-radius: 55px; 
    }

    }