@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {  
    scroll-behavior:smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #ffff;
    background-color: #09212B;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffff;
    
}



/*RESOLUTION - MOBILE - MAX 359px*/


/*COTEÚDO*/

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}


/*LOGO IMAGEM*/

.section-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.section-banner img {
   height: 120px;
    
}




/*LOGO TEXTO*/

.section-logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
}

.section-logo-text h1{
    font-size: 30px;
    font-weight: 300;
}



/*BOTÃO*/

.section-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    
}


.section-btn button{
    background-color: #205004;
    font-size: 22px;
    color: #ffff;
    width: 130px;
    height: auto;
    padding: 4px;
    border-radius: 35px;
    cursor: pointer;
}


/*EFEITOS*/

.efeito-banner, .efeito-text, .efeito-btn {
    visibility: hidden;
}



  

















